ul,
li {
  list-style-type: none;
  text-align: left;
}

input[type="radio"] {
  margin-right: 10px;
}

#questionContainer {
  width: 100vw;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}